/*all page*/
        
        *{box-sizing: border-box;}
        #p3 {background-color: violet;}
        #p5 {background-color: lightblue;}
        
        #t2:target #p2,
        #t3:target #p3,
        #t4:target #p4,
        #t5:target #p5
        {
            transform: translateX(-200%);
            transition: all 1s;
            transition-delay: 0.5s;
        }
        #t2:target #p1,
        #t3:target #p1,
        #t4:target #p1,
        #t5:target #p1
        {
            background: black;
            filter: blur(5px);
            transition:background 3s;
        }
        #p2, #p3,#p4, #p5{
            position: absolute;
            left: 200%;
        }
        #p1{
            position: absolute;
            left: 0;
        }
        .page{
          width:100%;
            height: 100%;
            color: white;
            transition: all 1s;
        }
        
        /*menu*/
        
        .menu{
            height: 7%;
            width: 100%;
            background:  #353535 ;
            text-align: center;
            position: fixed;
            top: 0;
            margin: 0;
            padding: 16px;
            z-index: 1;
            opacity: 0.98;
            font-weight: 100;
            
        }
        .menu-2{
            width: 100%;
            text-align: center;
            position: fixed;
            margin-top: 47%;
            z-index: 1;
            
        }
        .li-1{
            list-style: none;
            display: inline;
            color: white;
        }
        .li-2{
            list-style: none;
            display: inline;
            color: #292929;
        }
        a{
            text-decoration: none;
            padding: 16px;
        }
        a:hover{filter: blur(0.6px);}
        html,body{
            margin: 0;
            padding: 0;
            width:100%;
            overflow-x:hidden;
            transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            scroll-behavior: smooth;
        }
#bmrlogo{
    width: 120px;
    height: 120px;
}
#logo{
    width: 200px;
    float: left;
}
/* 테이블 */
table{margin-left: %;
width: 100%;
text-align: center;}
th{font-size: 30px;}
td{font-size: 30px;}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
#table-list{
    list-style: none;
    text-align: center;
    margin-left: 30%;
}
#table-list li{float: left;
text-align: center;
    padding-left: 50px;
}
#q{margin-left: 5%;}

#p5, #p4, #p2{
	position: fixed; 
	overflow-y: scroll;
	width: 100%;
}

.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.scale:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.scale {width:325px; height:280px; float: left; margin: 50px 50px 0; display:inline; }




@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-wrapper {
  width: 100%;
}

.blur-it {
  filter: blur(4px);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(41, 171, 164, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 600px;
  height: 400px;
  display: block;
  margin: 50% 0 0 -300px;
  position: relative;
  top: 50%; 
  left: 50%;
  background: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head { 
  width: 100%;
  height: 32px;
  padding: 12px 30px;
  overflow: hidden;
  background: #e2525c;
}

i {
  font-size: 30px;
  display: block;
  float: right;
  color: #fff;
}
.popimg{margin: 0; padding: 0; width: 600px; height: 400px;}


