.p2{
    height: auto;
    border-bottom: 40px solid white;
    color: #1b1c1d;
    background-color: #f6f6f6;
}
#Curriculum{
    display: block; 
    margin: 0px auto; 
}
.noun_img{
    width: 17.55em;
    height: 90%;
    vertical-align: middle;
    display: flex;
    margin-left: 40%;
    
}
.noun_box{
    
}
.slide{
    text-align: center;
    font-size: 30px;
}
.a{
    margin-left: 20%;
}
